use('../bower_components/stylus-random')

$aside_width = 20em
$edge_width = 50px
$story_border_width = 7px

$mail_color = black

$transition_duration = .5s

body
  font-size: 16px
  margin: 0
  background-image: url("../images/wood/0.jpg")
  overflow: hidden
  white-space: nowrap

ul
  margin: 0
  padding: 0
  list-style-type: none

a
  color: black

.paranja
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-image: url("../images/flowers-bg.png")
  background-position: 0 0
  transition: background-position $transition_duration ease

  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background: linear-gradient(90deg, rgba(255,255,255,0.6) 100px, rgba(255,255,255,0.8) 300px, rgba(255,255,255,0) 400px)



.anchor
  text-decoration: none
  position: relative

  &:before
    content: ''
    display: block
    width: 20px
    height: 20px
    position: absolute
    left: -27px
    top: -2px

    background-image: url("../images/leaves.svg")
    background-size: cover;

    opacity: 0

    // translateZ нужен для того, анимация одной ссылки не влияла на другую
    transform: rotateZ(-90deg) scale(0.8) translateZ(0)
    transform-origin: right
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s

  &:hover:before
    opacity: 1
    transform: rotateZ(0deg) scale(1) translateZ(0)

  //&:hover

.aside
  width: $aside_width
  height: 100%
  //background-repeat: repeat-y
  position: absolute
  display: block
  color: rgba(#fff, 0.5)
  font-family: 'Philosopher', 'Helverica', sans-serif

  /*&::before
    content: ''
    position: absolute
    top:0
    left: 0
    bottom: 0
    right: 0

    background: rgba(#fff, 0.2)
*/

.logo
  width: 100%
  height: 35%
  margin: $edge_width auto
  background-size: contain

  & svg
    width: 100%
    height: 100%

.navigation
  padding: 0
  margin: 30px auto
  font-size: 1.5em

  li
    margin: .2em 0 1em 0
    display: block
    width: 100%
    text-align: center

.phone
  margin-bottom: $edge_width
  position: absolute
  bottom: 0
  width: 100%
  font-size: 1.5em
  text-align: center
  color: black


.main
  position: absolute
  left: $aside_width
  right: 0
  height: 100vh
  display: block

  background: rgba(255,255,255,.4)

  & .main-inner
    position: relative

  .content
    position: relative
    height: 100%

  .arrows
    position: absolute
    top: $edge_width
    left: $edge_width
    bottom: $edge_width
    right: 145px + $edge_width

    & .up,
    & .down
      height: 50%

    & .up
      cursor: url(../images/arrows/up.png), auto

    & .down
      position: relative

      & .down-inner
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 33px
        cursor: url(../images/arrows/down.png), auto


  .thumbs
    font-size: 16px
    list-style-type: none
    position: absolute
    right: 0
    top: 0
    padding: 30px 10px 10px 30px
    box-sizing: border-box
    height: 100%
    transition: margin-top .3s ease .2s

    li
      margin: -20px 0 0 0
      padding: 10px 10px 40px 10px
      width: 9em
      height: 6em
      opacity: 0.8
      cursor: hand
      box-shadow: -1px -1px 10px rgba(0, 0, 0, .5)
      transition: transform .3s ease-out 0s, border-color .3s ease-out 0s, opacity .3s ease-out

      &:hover,
      &.current
        transform: translateX(-20px) rotateZ(0) translateZ(0)!important
        opacity: 1

      &.current
        cursor: pointer

      &.invisible
        opacity: 0


for $a in (1..$photos_count)
  .story:nth-child({$a}) .story-inner
    background-image: url("../images/photos/" $a "/1920x1680.jpg")

  .thumb:nth-child({$a})
    transform: rotateZ(random(-10, 10) deg) translateZ(0)
    background: url("../images/photos/" $a "/thumb.jpg") 50% 10px no-repeat, rgba(#fff,1)


.stories
  margin-top: 0
  transition: margin-top $transition_duration ease

.story
  height: 100vh
  position: relative

  & .story-inner
    position: absolute
    top: $edge_width
    left: $story_border_width
    bottom: $edge_width
    right: $edge_width + 80
    box-sizing: border-box
    background-size: cover
    background-position: 50%

    &::before
      content: ''
      position: absolute
      top: - $story_border_width
      left: - $story_border_width
      bottom: - $story_border_width
      right: - $story_border_width
      box-shadow: 0px 0px 9px rgba(#000,0.6)


.page
  display: none


@keyframes border-glow
  from
    border-top-color: rgba(#fff, .5)
    border-left-color: rgba(#fff, .5)
  50%
    border-top-color: rgba(#fff, .8)
    border-left-color: rgba(#fff, .8)
  to
    border-top-color: rgba(#fff, .5)
    border-left-color: rgba(#fff, .5)

