use('../bower_components/stylus-random')


@font-face {
  font-family: 'Veles';
  src:  url('fonts/veles-regular.0.9.2.eot');
  src:  url('fonts/veles-regular.0.9.2.eot?#iefix') format('embedded-opentype'),
        url('fonts/veles-regular.0.9.2.woff') format('woff'),
        url('fonts/veles-regular.0.9.2.ttf.gz') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$aside_width = 320px
$edge_width = 50px
$story_border_width = 7px

$mail_color = black

$transition_duration = .5s

body
  font-size: 14px
  margin: 0
  background-image: url("../images/wood/0.jpg")
  overflow: hidden
  white-space: nowrap
  width: 100%
  height: 100%

$sizes =  1024 768,
  1280 960,
  1440 1080,
  1680 1260,
  1920 1440

body
  @media (min-width: 1024px), (min-height: 768px)
    font-size: 14px

  @media (min-width: 1280px), (min-height: 960px)
    font-size: 16px

  @media (min-width: 1440px), (min-height: 1080px)
    font-size: 18px

  @media (min-width: 1680px), (min-height: 1260px)
    font-size: 18px

  @media (min-width: 1920px), (min-height: 1440px)
    font-size: 20px


ul
  margin: 0
  padding: 0
  list-style-type: none

a
  color: black

frame($with_inner = true, $inner_selector = '&::after')
  position: absolute
  top: $edge_width
  left: $story_border_width
  bottom: $edge_width
  right: $edge_width + 80
  box-sizing: border-box
  background-size: cover
  background-position: 50%

  &::before
    content: ''
    position: absolute
    top: - $story_border_width
    left: - $story_border_width
    bottom: - $story_border_width
    right: - $story_border_width
    background: rgba(#FFF, .6)
    box-shadow: 0px 0px 9px rgba(#000,0.6)

  if $with_inner
    {$inner_selector}
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      box-shadow: inset 0px 0px 9px rgba(#000,0.6)

.transparent
  opacity: 0 !important

.flowers
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-position: 0 0
  transition: background-position $transition_duration ease

.flowers_front
  background-image: url("../images/flowers/front-layer.png")

.flowers_middle
  background-image: url("../images/flowers/middle-layer.png")

.flowers_back
  background-image: url("../images/flowers/back-layer.png")

.cover
    content: ''
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background: linear-gradient(90deg, rgba(255,255,255,0.6) 100px, rgba(255,255,255,0.8) 300px, rgba(255,255,255,0) 400px)



.anchor
  text-decoration: none
  position: relative
  padding-top: 3px

  &:before
    content: ''
    display: block
    width: 20px
    height: 20px
    position: absolute
    left: -27px
    top: 0px

    background-image: url("../images/leaves.svg")
    background-size: cover;

    opacity: 0

    // translateZ нужен для того, анимация одной ссылки не влияла на другую
    transform: rotateZ(-90deg) scale(0.8) translateZ(0)
    transform-origin: right
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s

  &:hover:before
    opacity: 1
    transform: rotateZ(0deg) scale(1) translateZ(0)

  //&:hover

.aside
  width: $aside_width
  height: 100%
  //background-repeat: repeat-y
  position: absolute
  display: block
  color: rgba(#fff, 0.5)
  font-family: 'Philosopher', 'Helverica', sans-serif
  font-size: 24px

.logo
  display: block
  width: 100%
  height: 35%
  margin: $edge_width auto
  background-size: contain

  & svg
    width: 100%
    height: 100%

.navigation
  padding: 0
  margin: 30px auto

  li
    margin: .2em 0 1em 0
    display: block
    width: 100%
    text-align: center

.phone
  margin-bottom: $edge_width
  position: absolute
  bottom: 0
  width: 100%
  text-align: center
  color: black

  & .sign
    font-size: 1.2em
    padding: 0 2px

    &.plus
      font-size: 1em
      margin: 2px 0




.page
  position: absolute
  left: $aside_width
  right: 0
  height: 100vh
  display: block

  background: rgba(255,255,255,.4)

  &.with-transition
    transition: opacity 0.5s ease

.page_stories
  & .content
    position: relative
    height: 100%

  & .arrows
    position: absolute
    top: $edge_width
    left: $edge_width
    bottom: $edge_width
    right: 145px + $edge_width

    z-index: 10

    & .up,
    & .down
      height: 50%

    & .up
      cursor: url(../images/arrows/up.png), auto

    & .down
      position: relative

      & .down-inner
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 33px
        cursor: url(../images/arrows/down.png), auto


  & .thumbs
    font-size: 16px
    list-style-type: none
    position: absolute
    right: 0
    top: 0
    padding: 30px 10px 10px 30px
    box-sizing: border-box
    height: 100%
    transition: margin-top .3s ease .2s, right .3s ease
    z-index: 2

    &.out
      right: -230px

    li
      margin: -20px 0 0 0
      padding: 10px 10px 40px 10px
      width: 9em
      height: 6em
      opacity: 0.8
      cursor: pointer
      box-shadow: -1px -1px 10px rgba(0, 0, 0, .5)
      transition: transform .3s ease-out 0s, border-color .3s ease-out 0s, opacity .3s ease-out

      &:hover,
      &.current
        transform: translateX(-20px) rotateZ(0) translateZ(0)!important
        opacity: 1

      &.current
        cursor: pointer

  for $a in (1..$photos_count)
    .story:nth-child({$a}) .story__image
      background-image: url("../images/photos/" $a "/1920x1680.jpg")
      background-size: cover

    .thumb:nth-child({$a})
      transform: rotateZ(random(-10, 10) deg) translateZ(0)
      background: url("../images/photos/" $a "/thumb.jpg") 50% 10px no-repeat, rgba(#fff,1)

  .stories
    margin-top: 0
    transition: margin-top $transition_duration ease

  .story
    height: 100vh
    position: relative

    & .story-inner
      frame(true)

    & .story__image
      width: 100%
      height: 100%
      position: relative



/* ==== about ==== */
.page_about
  .about
    frame(true, '.about__inner')



    .about__inner
      height: 100%
      overflow: auto
      position: relative

    .photo-wrapper
      float: left
      position: relative
      overflow: hidden
      z-index: 1
      width: 40%
      padding: 0 0 20px 0

    .photo
      box-sizing: border-box
      background: rgba(#FFF, .75)
      position: relative
      //overflow: hidden
      box-shadow: 2px 2px 10px rgba(0, 0, 0, .5)

      &::before
        content: ''
        position: absolute

    .photo:nth-child(1)
      padding: 41% 50%
      width: 50%

      transform: rotateZ(-15deg) translateX(-20px) translateY(10px)

      &::before
        background: url("../images/about/1.jpg") 50% top no-repeat
        background-size: contain
        top: 5%
        left: 5%
        right: 5%
        bottom: 0

    .photo:nth-child(2)
      padding: 54% 38%
      width: 38%

      transform: rotateZ(15deg) translateX(3%)

      &::before
        background: url("../images/about/2.jpg") 50% top no-repeat
        background-size: contain
        top: 5%
        left: 5%
        right: 5%
        bottom: 0



    .text
      font-family: 'Veles';
      line-height: 1.6
      white-space: normal
      font-size: 1.2em
      //text-align: justify
      margin: 10px 60px 0 0
      position: relative
      z-index: 0
      left: 30px

      & .highlight
        //font-family: 'Philosopher'
        font-size:  1.2em

      p
        margin: 0 0 5px 0

        &::first-letter
          //font-family: 'Philosopher'
          font-size:  1.4em

/* ======= stub ====== */

.page_stub
  .frame
    frame(true)

  .progress
    $color = #ce92aa

    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.5em 0 0 -2.5em
    font-size: 16px
    display: inline-block
    width: 5em
    height: 5em
    text-indent: 999em
    overflow: hidden
    animation: spin 1s infinite steps(8)

    &::before,
    &::after,
    & > div::before,
    & > div::after
      content: ''
      position: absolute
      top: 0
      left: 2.25em
      width: .5em
      height: 1.5em
      border-radius: .2em
      background: rgba($color, 0.2)
      box-shadow: 0 3.5em rgba($color, 0.2)
      transform-origin: 50% 2.5em

    &::before
      background: rgba($color, 1)

    &::after
      transform: rotate(-45deg)
      background: rgba($color, 0.8)

    & > div::before
      transform: rotate(-90deg)
      background: rgba($color, 0.6)

    & > div::after
      transform: rotate(-135deg)
      background: rgba($color, 0.4)
  

@keyframes border-glow
  from
    border-top-color: rgba(#fff, .5)
    border-left-color: rgba(#fff, .5)
  50%
    border-top-color: rgba(#fff, .8)
    border-left-color: rgba(#fff, .8)
  to
    border-top-color: rgba(#fff, .5)
    border-left-color: rgba(#fff, .5)


@keyframes spin
  to
    transform: rotate(1turn)


/* bacon */
.line, .line_content {
  position:absolute;
  text-align:justify;
}

.line_content:after {
  content: '';
  display: inline-block;
  width: 100%;
}

