body {
  font-size: 16px;
  margin: 0;
  background-image: url("../images/wood/0.jpg");
  overflow: hidden;
  white-space: nowrap;
}
a {
  color: #000;
}
.anchor {
  text-decoration: none;
}
.aside {
  width: 20em;
  height: 100%;
  background: rgba(255,255,255,0.2);
  position: relative;
  display: block;
/*&::before
    content: ''
    position: absolute
    top:0
    left: 0
    bottom: 0
    right: 0

    background: rgba(#fff, 0.2)
*/
}
.logo {
  width: 100%;
  height: 30%;
  margin: 50px auto;
  background: url("../images/logo.png") no-repeat 50% 50%;
  -webkit-background-size: contain;
  background-size: contain;
}
.navigation {
  padding: 0;
  margin: 30px auto;
  font-size: 1.5em;
  font-family: 'Neucha', cursive;
  font-family: 'Marck Script', cursive;
  font-family: 'Oranienbaum', serif;
  font-family: 'Lobster', cursive;
  font-family: 'EB Garamond', serif;
  font-family: 'Marmelad', sans-serif;
  font-family: 'Philosopher', sans-serif;
}
.navigation li {
  margin-bottom: 1em;
  display: block;
  width: 100%;
  text-align: center;
/*&:nth-child(1)
      font-family: 'Philosopher', sans-serif
    &:nth-child(2)
      font-family: 'Marck Script', cursive
    &:nth-child(3)
      font-family: 'Oranienbaum', cursive*/
}
.main {
  position: absolute;
  left: 20em;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
  padding: 50px 50px 50px 0;
}
.main .main-inner {
  -webkit-box-shadow: inset 1px 1px 9px 1px rgba(0,0,0,0.8);
  box-shadow: inset 1px 1px 9px 1px rgba(0,0,0,0.8);
  position: absolute;
  left: 0;
  bottom: 50px;
  top: 50px;
  right: 50px;
}
.main .main-inner::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0.7);
}
.main .content {
  position: relative;
  height: 100%;
}
.main .content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4);
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4);
}
.stories {
  height: 100%;
  position: relative;
}
.story {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../images/photos/1.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50%;
}
.page {
  display: none;
}
