use('../bower_components/stylus-random')


@font-face {
  font-family: 'Veles';
  src:  url('fonts/veles-regular.0.9.2.eot');
  src:  url('fonts/veles-regular.0.9.2.eot?#iefix') format('embedded-opentype'),
        url('fonts/veles-regular.0.9.2.woff') format('woff'),
        url('fonts/veles-regular.0.9.2.ttf.gz') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$aside_width = 320px
$edge_width = 50px
$story_border_width = 7px

$mail_color = black

$transition_duration = .5s

$main_font = "'Philosopher', 'Helvetica', serif"
$sec_font = "'Veles', 'Helvetica', sans-serif"

body
  font-size: 14px
  margin: 0
  background-image: url("../images/wood-bg.jpg")
  background-attachment: fixed
  white-space: nowrap
  width: 100%
  height: 100%
  font-family: unquote($main_font)

$sizes =  1024 768,
  1280 960,
  1440 1080,
  1680 1260,
  1920 1440

body
  @media (min-width: 1024px), (min-height: 768px)
    font-size: 14px

  @media (min-width: 1280px), (min-height: 960px)
    font-size: 16px

  @media (min-width: 1440px), (min-height: 1080px)
    font-size: 18px

  @media (min-width: 1680px), (min-height: 1260px)
    font-size: 18px

  @media (min-width: 1920px), (min-height: 1440px)
    font-size: 20px


ul
  margin: 0
  padding: 0
  list-style-type: none

a
  color: black

page($bottom = false)
  position: absolute
  top: $edge_width
  left: $story_border_width
  right: $edge_width
  if $bottom
    bottom: $edge_width

frame($with_inner = true, $inner_selector = '&::after')
  height: 100%
  box-sizing: border-box
  background-size: cover
  background-position: 50%

  &::before
    content: ''
    position: absolute
    top: - $story_border_width
    left: - $story_border_width
    bottom: - $story_border_width
    right: - $story_border_width
    background: rgba(#FFF, .6)
    box-shadow: 0px 0px 9px rgba(#000,0.6)

  if $with_inner
    {$inner_selector}
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      box-shadow: inset 0px 0px 9px rgba(#000,0.6)

/* ========= common ========= */

.photo
  background: rgba(#FFF, .75)
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .5)
  box-sizing: border-box
  position: relative

  &::before
    content: ''
    position: absolute

.transparent
  // FIXME: временно просто убираем скрытые страницы, чтобы не мешать рендерингу видимой
  display: none !important
  //opacity: 0 !important
  // спрятанные слои не должны влиять на скролл показанного
  //overflow: hidden
  //z-index: -1
  //position: relative


.flowers
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-position: 0 0
  transition: background-position $transition_duration ease

.flowers_front
  background-image: url("../images/flowers/front-layer.png")

.flowers_middle
  background-image: url("../images/flowers/middle-layer.png")

.flowers_back
  background-image: url("../images/flowers/back-layer.png")

.cover
  content: ''
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  background: linear-gradient(90deg, rgba(255,255,255,0.5) 100px, rgba(255,255,255,0.4) 300px, rgba(255,255,255,.9) 2000px)


.anchor
  text-decoration: none
  position: relative
  padding-top: 3px

  &:before
    content: ''
    display: block
    width: 20px
    height: 20px
    position: absolute
    left: -27px
    top: 7px

    background-image: url("../images/leaves.svg")
    background-size: cover;

    opacity: 0

    // translateZ нужен для того, анимация одной ссылки не влияла на другую
    transform: rotateZ(-90deg) scale(0.8) translateZ(0)
    transform-origin: right
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s

  &:hover:before
    opacity: 1
    transform: rotateZ(0deg) scale(1) translateZ(0)

  //&:hover

.iconed
  text-align: center
  color: black
  height: 1.2em

  & .iconed__inner
    display: inline-block
    height: 100%

  & .iconed__icon
    display: inline-block
    background-size: contain
    background-repeat: no-repeat
    margin-right: .3em
    height: 1em
    width: 1.1em
    vertical-align: bottom

    .iconed_phone&
      background-image: url("../images/svg/phone.svg")

    .iconed_location&
      background-image: url("../images/svg/location.svg")

    .iconed_mail&
      background-image: url("../images/svg/mail.svg")

  & .iconed__text
    display: inline-block
    line-height: .7

    & .sign
      font-size: 1.2em
      padding: 0 2px

      &.plus
        font-size: 1em
        margin: 2px 0

.aside
  width: $aside_width
  height: 100%
  //background-repeat: repeat-y
  position: fixed
  display: block
  color: rgba(#fff, 0.5)
  font-size: 24px

  .logo
    display: block
    width: 100%
    height: 35%
    margin: $edge_width auto
    background-size: contain

    & svg
      width: 100%
      height: 100%

  .navigation
    padding: 0
    margin: 30px auto

    li
      margin: .2em 0 1em 0
      display: block
      width: 100%
      text-align: center

  .iconed_phone
    margin-bottom: 2em
    position: absolute
    bottom: $edge_width
    width: 100%

  .iconed_location
    position: absolute
    bottom: $edge_width
    width: 100%
    text-align: center
    color: black

    .icon
      height: 20px
      width: 20px
      margin-right: 5px
      vertical-align: top




.page
  position: absolute
  left: $aside_width
  right: 0
  height: 100vh
  display: block

  /*background-color: rgba(255,255,255,.4)
  background-attachment: fixed*/

  &.with-transition
    transition: opacity 0.5s ease

.arrows
  position: absolute
  z-index: 10


.thumbs-container
  position: absolute
  right: 0
  top: 0
  height: 100vh
  width: 12em
  margin: -50px -50px 0 0
  transition: right .3s ease

  &.out
    right: -10em

  &.semi-out
    right: -4em
    opacity: .5

    & .placeholder
      display: block
    & .arrows
      display: none

  & .placeholder
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    display: none
    z-index: 5

  .thumbs
    font-size: 16px
    list-style-type: none
    position: absolute
    top: 33px
    padding: 0 10px 10px 30px
    box-sizing: border-box
    height: 100%
    transition: margin-top .3s ease .2s
    z-index: 2
    border-top: 0px transparent solid

    li
      margin: -20px 0 0 0
      padding: 10px 10px 40px 10px
      width: 9em
      height: 6em
      opacity: 0.8
      cursor: pointer
      box-shadow: -1px -1px 10px rgba(0, 0, 0, .5)
      transition: transform .3s ease-out 0s, border-color .3s ease-out 0s, opacity .3s ease-out

      *:not(.semi-out) &:hover,
      &.current
        transform: translateX(-20px) rotateZ(0) translateZ(0)!important
        opacity: 1

      &.current
        cursor: pointer

  for $a in (1..$photos_count)
    & .thumb:nth-child({$a})
      transform: rotateZ(random(-10, 10) deg) translateZ(0)
      background: url("../images/photos/" $a "/thumb.jpg") 50% 10px no-repeat, rgba(#fff,1)

  & .arrows_thumbs
    top: 0
    bottom: 0
    right: 0

    & .up,
    & .down
      height: 40px
      width: 11em
      cursor: pointer

    & .up
      position: absolute
      top: 0
      right: 0

      &::before
        content: ''
        margin: 3px 205px 0 60px
        background-image: url(../images/arrows/up-shadowed.png)
        background-size: contain
        width: 30%
        height: 100%
        position: absolute
        background-repeat: no-repeat
        box-sizing: border-box

    & .down
      position: absolute
      right: 0
      bottom: 0

      &::before
        content: ''
        background-image: url(../images/arrows/down-shadowed.png)
        background-size: contain
        width: 30%
        height: 100%
        position: absolute
        background-repeat: no-repeat
        box-sizing: border-box
        margin: 2px 205px 7px 60px

.page
  position: absolute
  left: $aside_width
  right: 0
  height: 100vh
  display: block

  /*background-color: rgba(255,255,255,.4)
  background-attachment: fixed*/

  &.with-transition
    transition: opacity 0.5s ease

.text
  font-family: unquote($main_font);
  line-height: 1.6
  white-space: normal
  font-size: 1.3em
  //text-align: justify

  & .highlight
    font-size:  1.2em

  p
    margin: 0 0 5px 0

    &::first-letter
      font-size:  1.4em

/* ==== about ==== */
.page_about
  .about
    page()

    .inner
      height: 100%
      overflow: auto
      position: relative

    .photo-wrapper
      float: left
      position: relative
      z-index: 1
      width: 40%
      padding: 0 20px 40px 0

    .photo:nth-child(1)
      padding: 41% 50%
      width: 50%

      transform: rotateZ(-15deg) translateX(-20px) translateY(10px)

      &::before
        background: url("../images/about/1.jpg") 50% top no-repeat
        background-size: contain
        top: 5%
        left: 5%
        right: 5%
        bottom: 0

    .photo:nth-child(2)
      padding: 54% 38%
      width: 38%

      transform: rotateZ(15deg) translateX(3%)

      &::before
        background: url("../images/about/2.jpg") 50% top no-repeat
        background-size: contain
        top: 5%
        left: 5%
        right: 5%
        bottom: 0



    .text
      margin: 10px 60px 0 0
      position: relative
      z-index: 0
      left: 30px

photo()
  .photo
    width: 0
    padding: 35% 0 0 43%
    box-sizing: border-box

    .photo__inner
      position: absolute
      top: 5%
      left: 5%
      right: 5%
      bottom: 0
      background-size: contain
      background-position: 50% 0
      background-repeat: no-repeat
    //box-shadow: inset 0px 0px 9px rgba(#000,0.6)

    .caption
      display: inline-block
      width: 100%
      position: absolute
      bottom: 0
      left: 0
      font-family: unquote($sec_font)
      text-align: center
      font-size: 1.7vw
      margin-bottom: 4px
      overflow: hidden
      text-overflow: ellipsis

photo-common-props()
  position: absolute
  margin-left: -20%
  margin-top: -17%

photo1-props($need_transform = true)
  photo-common-props()
  top: 23%
  left: 25%
  if ($need_transform)
    transform: rotateZ(-5deg) translateX(3%) translateZ(0)
  else
    transform: none

photo2-props($need_transform = true)
  photo-common-props()
  top: 23%
  left: 75%
  if ($need_transform)
    transform: rotateZ(3deg) translateX(3%) translateZ(0)
  else
    transform: none

photo3-props($need_transform = true)
  photo-common-props()
  top: 78%
  left: 25%
  if ($need_transform)
    transform: rotateZ(7deg) translateX(3%) translateZ(0)
  else
    transform: none

photo4-props($need_transform = true)
  photo-common-props()
  top: 78%
  left: 75%
  margin-left: -23%
  if ($need_transform)
    transform: rotateZ(-5deg) translateX(3%) translateZ(0)
  else
    transform: none


/* ======= services ====== */
.page_services
  .services
    page(true)

    & .photo:nth-child(1)
      photo1-props()

    & .photo:nth-child(2)
      photo2-props()

    & .photo:nth-child(3)
      photo3-props()

    & .photo:nth-child(4)
      photo4-props()

    for $i in (1..4)
      & .photo:nth-child({$i}) .photo__inner
        background-image: url("../images/services/" $i ".jpg")

    photo()
    & .photo
      cursor: pointer
      transition: transform .5s ease
/*
      &:hover
        transform: rotateZ(0)
*/



    &.out_bouquets
      & .photo:nth-child(1)
        transform: none

      & .photo:nth-child(2),
      & .photo:nth-child(4)
        transform: translateX(150%)
      & .photo:nth-child(3)
        transform: translateY(200%)

    &.out_wedding-decor
      & .photo:nth-child(2)
        photo-props1(false)

      /*.photo:nth-child(4)
        transform: translateX(150%)
      .photo:nth-child(3)
        transform: translateY(200%)*/


/* ======= service ======= */
.page_service
  height: 100vh
  overflow: hidden

  thumbs()
  .service
    page(true)

    .description
      photo()

      .photo
        display: block
        float: left
        margin: 0 5% 0 0

      .text
        white-space: normal
        font-size: 1.3em
        margin-right: 9%

      &.out
        position: absolute
        opacity: 0

    &.service_bouquets
      .description
        .photo
          .photo__inner
            background-image: url("../images/services/1.jpg")

    &.service_wedding-decor
      .description
        .photo
          .photo__inner
            background-image: url("../images/services/2.jpg")

    &.service_wedding-bouquets
      .description
        .photo
          .photo__inner
            background-image: url("../images/services/3.jpg")

    &.service_events
      .description
        .photo
          .photo__inner
            background-image: url("../images/services/4.jpg")

    .gallery
      height: 100%
      &.out
        opacity: 0

        & .up,
        & .down-inner
          cursor: auto !important
        & .arrows
            display: none

      & .photos
        margin-top: 0
        transition: margin-top $transition_duration ease

        & .photo
          background: none
          box-shadow: none
          height: 100vh
          position: relative
          box-sizing: border-box
          border-bottom: (2 * $edge_width + 16) transparent solid

          & .photo-inner
            frame(true)

          & .photo__image
            width: 100%
            height: 100%
            position: relative

        for $a in (1..$photos_count)
          & .photo:nth-child({$a}) .photo__image
            background-image: url("../images/photos/" $a "/1920x1680.jpg")
            background-size: cover



      & .arrows
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 145px

        z-index: 10

        & .up,
        & .down
          height: 50%

        & .up
          cursor: url(../images/arrows/up.png), auto


        & .down
          position: relative

        & .down-inner
          content: ''
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 33px
          cursor: url(../images/arrows/down.png), auto


/* ======= contacts ======= */
.page_contacts
  .contacts
    page()

    &::before
      content: ''
      display: inline-block
      height: 100%
      vertical-align: middle

    .photo
      padding: 33% 20%
      width: 40%
      margin: 6px 30px 6px 6px
      display: inline-block
      vertical-align: middle

      //transform: rotateZ(-15deg) translateX(-20px) translateY(10px)

      &::before
        background: url("../images/contacts/1.jpg") 50% top no-repeat
        background-size: contain
        top: 3%
        left: 5%
        right: 5%
        bottom: 0

    .text
      font-size: 1.5em
      line-height: 1.1em
      white-space: normal
      margin-top: 7px
      display: inline-block
      vertical-align: middle
      width: 60%

      .iconed_phone,
      .iconed_mail
        text-align: left
        font-size: 1.2em
        margin: 0.7em 0

      .iconed_mail .iconed__icon
        vertical-align: middle
        padding: 3px 0




/* ======= stub ====== */

.page_stub
  page()

  .progress
    $color = #ce92aa

    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.5em 0 0 -2.5em
    font-size: 16px
    display: inline-block
    width: 5em
    height: 5em
    text-indent: 999em
    overflow: hidden
    animation: spin 1s infinite steps(8)

    &::before,
    &::after,
    & > div::before,
    & > div::after
      content: ''
      position: absolute
      top: 0
      left: 2.25em
      width: .5em
      height: 1.5em
      border-radius: .2em
      background: rgba($color, 0.2)
      box-shadow: 0 3.5em rgba($color, 0.2)
      transform-origin: 50% 2.5em

    &::before
      background: rgba($color, 1)

    &::after
      transform: rotate(-45deg)
      background: rgba($color, 0.8)

    & > div::before
      transform: rotate(-90deg)
      background: rgba($color, 0.6)

    & > div::after
      transform: rotate(-135deg)
      background: rgba($color, 0.4)


@keyframes border-glow
  from
    border-top-color: rgba(#fff, .5)
    border-left-color: rgba(#fff, .5)
  50%
    border-top-color: rgba(#fff, .8)
    border-left-color: rgba(#fff, .8)
  to
    border-top-color: rgba(#fff, .5)
    border-left-color: rgba(#fff, .5)


@keyframes spin
  to
    transform: rotate(1turn)


/* bacon */
.line, .line_content {
  position:absolute;
  text-align:justify;
}

.line_content:after {
  content: '';
  display: inline-block;
  width: 100%;
}

