.idea/*
node_modules
dist
.tmp
.sass-cache
.idea/
.idea/*.xml
.idea/workspace.xml
app/bower_components
test/bower_components
app/js/_*.js
app/images/photos/photos.json
app/.build
app/.build/**/*
app/jade/*.html
