html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(charset="utf-8")

        title Dear Deer Art
        link(rel='shortcut icon', type="image/x-icon", href='favicon.ico')
        link(rel="stylesheet", type="text/css", href="styl/main.css")
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic")
        link(rel="stylesheet", type="text/css", href="http://malihu.github.io/custom-scrollbar/3.0.0/jquery.mCustomScrollbar.min.css")
    body
        .flowers.flowers_back
        .flowers.flowers_middle
        .flowers.flowers_front
        .cover
        .aside
            a.logo(href='#')
                | @@include('../images/logo.svg')

            ul.navigation
                li
                    a.anchor(href="#stories") Цветочные истории
                li
                    a.anchor(href="#services") Услуги
                li
                    a.anchor(href="#about") О мастерской
                li
                    a.anchor(href="#contacts") Контакты
            .iconed.iconed_phone
                .iconed__inner
                    .iconed__icon
                    .iconed__text
                        span.sign.plus
                            | +
                        | 7&nbsp;
                        span.sign
                            | (
                        | 916
                        span.sign
                            | )
                        | &nbsp;573
                        span.sign
                            | -
                        | 98
                        span.sign
                            | -
                        | 18
            .iconed.iconed_location
                .iconed__inner
                    .iconed__icon
                    .iconed__text
                        | Москва, Зеленоград
        .page.page_stub
            .frame
                .progress
                    div

        .page.page_stories.transparent
            ul.stories
                - for(var i = 0; i < photos.length; i++)
                    li.story(class= i == 0 ? "current" : "")
                        .story-inner
                            .story__image
            .arrows
                .up.change
                .down.change
                    .down-inner

            ul.thumbs.out
                - for(var i = 0; i < photos.length; i++)
                    li.thumb(class= i == 0 ? "current" : "", data-id= i)

        .page.page_about.transparent
            .about
                .inner
                    .photo-wrapper
                        .photo
                        .photo
                    .text
                        p
                            | Как здорово, что мы встретились с Вами на страницах Цветочных Историй!
                        p
                            | Меня зовут
                            span.highlight  Алёна
                            | , а флористическая мастерская
                            span.highlight  Dear&nbsp;Deer
                            |  – это плод моего воображения, которым мне не терпится поделиться с Вами.
                        p
                            | Для каждого человека и события есть своя история. И в этой истории обязательно есть свой цвет, своя идея, свой аромат, свой цветок… Зима на дворе или лето, осень или весна — Ваше торжество должно быть безупречным. Букеты и композиции из цветов в сочетании с декоративными элементами или сладким столом (candy bar) будут уместны на любом торжестве или знаменательном событии жизни: будь то волшебная свадьба, красочный день рождения или стильная фотосессия.
                        p
                            | В свою очередь мы, команда
                            span.highlight  Dear&nbsp;Deer
                            | , готовы внимательно прислушаться к Вашим пожеланиям, уловить Ваше настроение и с радостью приступить к воплощению уникальной истории Вашего Дня!

        .page.page_services.transparent
            .services
                .inner
                    .photo
                        .photo__inner
                        .text
                            | Букеты
                    .photo
                        .photo__inner
                        .text
                            | Свадебный декор
                    .photo
                        .photo__inner
                        .text
                            | Свадебные букеты
                    .photo
                        .photo__inner
                        .text
                            | Оформление мероприятий

        .page.page_contacts.transparent
            .contacts
                .photo
                .text
                    | Для заказа букета, а так же по вопросам оформления мероприятий и создания праздничного настроения в стиле Dear Deer, пожалуйста, обращайтесь
                    .iconed.iconed_phone
                        .iconed__inner
                            .iconed__icon
                            .iconed__text
                                span.sign.plus
                                    | +
                                | 7&nbsp;
                                span.sign
                                    | (
                                | 916
                                span.sign
                                    | )
                                | &nbsp;573
                                span.sign
                                    | -
                                | 98
                                span.sign
                                    | -
                                | 18
                    | или
                    .iconed.iconed_mail
                        .iconed__inner
                            .iconed__icon
                            .iconed__text
                                | deardeerart@yandex.ru



        script(type="text/javascript", src="js/lib/lib.js")
        //script(type="text/javascript", src="http://malihu.github.io/custom-scrollbar/3.0.0/jquery.mCustomScrollbar.concat.min.js")

        script(type="text/javascript", src="js/main.js")
