doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(charset="utf-8")

        title Dear Deer Art
        link(rel='shortcut icon', type="image/x-icon", href='favicon.ico')
        link(rel="stylesheet", type="text/css", href="styl/main.css")
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic")
    body
        .flowers.flowers_back
        .flowers.flowers_middle
        .flowers.flowers_front
        .cover
        .aside
            a.logo(href='#!')
                include ../images/logo.svg

            ul.navigation
                li: a.anchor(href="#!") Цветочные истории
                li: a.anchor(href="#!services") Услуги
                li: a.anchor(href="#!about") О мастерской
                li: a.anchor(href="#!contacts") Контакты
            .iconed.iconed_phone
                .iconed__inner
                    .iconed__icon
                    .iconed__text
                        span.sign.plus
                            | +
                        | 7&nbsp;
                        span.sign
                            | (
                        | 916
                        span.sign
                            | )
                        | &nbsp;573
                        span.sign
                            | -
                        | 98
                        span.sign
                            | -
                        | 18
            .iconed.iconed_location
                .iconed__inner
                    .iconed__icon
                    .iconed__text
                        | Москва, Зеленоград
        .page.page_stub
            .frame
                .progress
                    div


        block page

        script(type="text/javascript", src="js/lib/lib.js")
        script(type="text/javascript", src="js/main.js")
