.page.page_about
    .about
        .photo-wrapper
            .photo
            .photo
        .text
            p
                | Как здорово, что мы встретились с Вами на страницах Цветочных Историй!
            p
                | Меня зовут
                span.highlight  Алёна
                | , а флористическая мастерская
                span.highlight  Dear&nbsp;Deer
                |  – это плод моего воображения, которым мне не терпится поделиться с Вами.
            p
                | Для каждого человека и события есть своя история. И в этой истории обязательно есть свой цвет, своя идея, свой аромат, свой цветок… Зима на дворе или лето, осень или весна — Ваше торжество должно быть безупречным. Букеты и композиции из цветов в сочетании с декоративными элементами или сладким столом (candy bar) будут уместны на любом торжестве или знаменательном событии жизни: будь то волшебная свадьба, красочный день рождения или стильная фотосессия.
            p
                | В свою очередь мы, команда
                span.highlight  Dear&nbsp;Deer
                | , готовы внимательно прислушаться к Вашим пожеланиям, уловить Ваше настроение и с радостью приступить к воплощению уникальной истории Вашего Дня!
