.page.page_contacts
    .contacts
        .photo
        .text
            | Для заказа букета, а так же по вопросам оформления мероприятий и создания праздничного настроения в стиле Dear Deer, пожалуйста, обращайтесь
            .iconed.iconed_phone
                .iconed__inner
                    .iconed__icon
                    .iconed__text
                        span.sign.plus
                            | +
                        | 7&nbsp;
                        span.sign
                            | (
                        | 916
                        span.sign
                            | )
                        | &nbsp;573
                        span.sign
                            | -
                        | 98
                        span.sign
                            | -
                        | 18
            | или
            .iconed.iconed_mail
                .iconed__inner
                    .iconed__icon
                    .iconed__text
                        | deardeerart@yandex.ru
