.gallery.out
    ul.photos
        - for(var i = 0; i < photos.length; i++)
            li.photo
                .photo-inner
                    .photo__image

    .arrows.arrows_photo
        .up.change
        .down.change
            .down-inner


.thumbs-container.out
    a.placeholder(href="#!services/" + type + "/gallery")
    .arrows.arrows_thumbs
        .up.change
        .down.change

    ul.thumbs
        - for(var i = 0; i < photos.length; i++)
            li.thumb(data-id= i)


