.page.page_service
    .services
        .photo(data-fragment="/bouquets")
            .photo__inner
            .text Букеты
        .photo(data-fragment="/wedding-decor")
            .photo__inner
            .text Свадебный декор
        .photo(data-fragment="/wedding-bouquets")
            .photo__inner
            .text Свадебные букеты
        .photo(data-fragment="/events")
            .photo__inner
            .text Оформление мероприятий
