.page.page_services
    .services
        .photo(data-fragment="!services/bouquets")
            .photo__inner
            .caption Букеты
        .photo(data-fragment="!services/wedding-decor")
            .photo__inner
            .caption Свадебный декор
        .photo(data-fragment="!services/wedding-bouquets")
            .photo__inner
            .caption Свадебные букеты
        .photo(data-fragment="!services/events")
            .photo__inner
            .caption Оформление мероприятий
