.page.page_services
    .services
        .photo
            .photo__inner
            .text
                | Букеты
        .photo
            .photo__inner
            .text
                | Свадебный декор
        .photo
            .photo__inner
            .text
                | Свадебные букеты
        .photo
            .photo__inner
            .text
                | Оформление мероприятий
